td, th {
    text-align: right;
}

strong {
    font-size: 0.8em;
}

.left {
    text-align: left;
}

.cellNumber {
    width: 7em;
}

.cambio {
    width: 7em;
}

.sin {
    background-color: #d00;
}

.con {
    background-color: #0b0;
}
