<h1>{{ CONSTANTS[0] }}</h1>

<table>
  <thead>
    <th colspan="2">{{ CONSTANTS[1] }}</th>
    <th>{{ CONSTANTS[2] }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let articulo of articulos">
      <td class="left" style="width: 5em;">{{ articulo.nombre }}</td>
      <td>{{ articulo.cantidad }}u.</td>
      <td>$ {{ articulo.precio }}</td>
      <td>
        <button (click)="delete(articulos, articulo)">-</button>
      </td>
    </tr>
    <tr>
      <td class="left">
        <input type="text" [(ngModel)]="nombre" placeholder="Nombre del articulo">
      </td>
      <td>
        <input type="number" [(ngModel)]="cantidad" placeholder="Cantidad" min="1">
      </td>
      <td>
        <input type="number" [(ngModel)]="precio" placeholder="Precio unitario" min="1">
      </td>
      <td>
        <button (click)="add()">+</button>
      </td>
    </tr>
    <tr *ngIf="totalCantidad > 0 && subtotal > 0">
      <td>{{ CONSTANTS[3] }}</td>
      <td>{{ totalCantidad }}u.</td>
      <td>$ {{ subtotal }}</td>
    </tr>
    <tr>
      <td>
        <i>{{ CONSTANTS[4] }}</i>
      </td>
      <td colspan="2">
        <input type="number" [(ngModel)]="descuento" min="0">
      </td>
      <td>
        <button (click)="addDescuento()">+</button>
      </td>
    </tr>
    <tr *ngFor="let d of listaDescuentos">
      <td colspan="3">{{ (-1) * d.value }}</td>
      <td>
        <button (click)="delete(listaDescuentos, d)">-</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td>{{ CONSTANTS[5] }}</td>
    <td colspan="2">$ {{ precioFinal }}</td>
  </tfoot>
</table>
<span hidden>{{ subtotal }}</span><span hidden>{{ totalDescuento }}</span>
<div id="entrega">
  <h5>{{ CONSTANTS[6] }}</h5>
  <label *ngFor="let zonas of zonasDeEntrega; index as i"><input type="radio" [value]="i" [(ngModel)]="entrega">{{ zonas }}</label>
  <label><input type="radio" [value]="-1" [(ngModel)]="entrega"><input type="text" placeholder="Otro" [(ngModel)]="otro"></label>
</div>
<div id="cliente">
  <h5>{{ CONSTANTS[7] }}</h5>
  <input type="text" [(ngModel)]="cliente">
</div>
<button (click)="generarBoleta_click()">Generar boleta</button>
