<h1>Resumen de cuenta</h1>

<table>
  <thead>
    <th colspan="2">cantidad</th>
    <th>precio</th>
  </thead>
  <tbody>
    <tr *ngFor="let articulo of articulos">
      <td class="left">{{ articulo.nombre }}</td>
      <td>{{ articulo.cantidad }}u.</td>
      <td>$ {{ articulo.precio }}</td>
    </tr>
    <tr>
      <td class="left">
        <button (click)="add()">+</button>
        <input type="text" [(ngModel)]="nombre" placeholder="Nombre del articulo">
      </td>
      <td>
        <input type="number" [(ngModel)]="cantidad" placeholder="Cantidad" min="1">
      </td>
      <td>
        <input type="number" [(ngModel)]="precio" placeholder="Precio" min="0">
      </td>
    </tr>
    <tr *ngIf="totalCantidad != 0 && subtotal != 0">
      <td>SUBTOTAL</td>
      <td>{{ totalCantidad }}u.</td>
      <td>$ {{ subtotal }}</td>
    </tr>
    <tr>
      <td>
        <i>% descuentos</i>
      </td>
      <td colspan="2">
        <button (click)="addDescuento()">+</button>
        <input type="number" [(ngModel)]="descuento" min="0">
      </td>
    </tr>
    <tr *ngFor="let d of listaDescuentos">
      <td colspan="3">{{ d }}</td>
    </tr>
  </tbody>
  <tfoot>
    <td>TOTAL</td>
    <td colspan="2">$ {{ precioFinal }}</td>
  </tfoot>
</table>

<div>
  <label for="entrega">Tu entrega es en: </label>
  <input type="radio" [value]="1" name="entrega" [(ngModel)]="entrega">Caballito
  <input type="radio" [value]="2" name="entrega" [(ngModel)]="entrega">Paternal/Villa Crespo
  <button (click)="exportar()">Generar boleta</button>
</div>