<h1>{{ CONSTANTS[0] }}</h1>

<table>
  <thead>
    <th colspan="2">{{ CONSTANTS[8] }}</th>
    <th>{{ CONSTANTS[1] }}</th>
    <th>{{ CONSTANTS[2] }}</th>
  </thead>
  <tbody>
    <tr *ngFor="let articulo of resumen.articulos">
      <td class="left" style="width: 5em;">{{ articulo.nombre }} <br>
        <strong *ngIf="articulo.cambio == false">*sin cambio</strong>
      </td>
      <td>{{ articulo.tipo }}</td>
      <td>{{ articulo.cantidad }}u.</td>
      <td>$ {{ articulo.precio.toFixed(2) }}</td>
      <td>
        <button (click)="btnEliminar_click(resumen.articulos, articulo)">-</button>
      </td>
    </tr>
    <tr>
      <td class="left">
        <input type="text" [(ngModel)]="articuloActual.nombre" placeholder="Nombre del articulo">
      </td>
      <td>
        <select [(ngModel)]="articuloActual.tipo">
          <option></option>
          <option>{{ TipoDescuento[0] }}</option>
          <option>{{ TipoDescuento[1] }}</option>
          <option>{{ TipoDescuento[2] }}</option>
        </select>
      </td>
      <td>
        <input class="cellNumber" type="number" [(ngModel)]="articuloActual.cantidad" placeholder="Cantidad" min="1">
      </td>
      <td>
        <input class="cellNumber" type="number" [(ngModel)]="articuloActual.precio" placeholder="Precio unitario" min="1">
      </td>
      <td (click)="articuloActual.cambio = !articuloActual.cambio">
        <button class="con cambio" *ngIf="articuloActual.cambio">Con cambio</button>
        <button class="sin cambio" *ngIf="!articuloActual.cambio">Sin Cambio</button>
      </td>
      <td>
        <button (click)="btnAgregarArticulo_click()">+</button>
      </td>
    </tr>
    <tr *ngIf="this.resumen.getCantidadTotal() > 0 && this.resumen.getSubtotal() > 0">
      <td colspan="2">{{ CONSTANTS[3] }}</td>
      <td>{{ this.resumen.getCantidadTotal() }}u.</td>
      <td>$ {{ this.resumen.getSubtotal().toFixed(2) }}</td>
    </tr>
    <tr>
      <td>
        <i>{{ CONSTANTS[4] }}</i>
      </td>
      <td>
        <select [(ngModel)]="descuentoActual.tipo">
          <option></option>
          <option>{{ TipoDescuento[0] }}</option>
          <option>{{ TipoDescuento[1] }}</option>
          <option>{{ TipoDescuento[2] }}</option>
        </select>
      </td>
      <td colspan="2">
        <input class="cellNumber" type="number" [(ngModel)]="descuentoActual.value" min="0">
      </td>
      <td>
        <button (click)="btnAgregarDescuento_click()">+</button>
      </td>
    </tr>
    <tr *ngFor="let d of resumen.descuentos">
      <td colspan="2">{{ d.tipo }}</td>
      <td colspan="2">{{ ((-1) * d.value).toFixed(2) }}</td>
      <td>
        <button (click)="btnEliminar_click(resumen.descuentos, d)">-</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="2"><b>{{ CONSTANTS[5] }}</b></td>
    <td colspan="2">$ {{ this.resumen.getPrecioFinal().toFixed(2) }}</td>
  </tfoot>
</table>

<div id="entrega">
  <h5>{{ CONSTANTS[6] }}</h5>
  <label *ngFor="let zonas of zonasDeEntrega; index as i"><input type="radio" [value]="i" [(ngModel)]="entrega">{{ zonas }}</label>
  <label><input type="radio" [value]="-1" [(ngModel)]="entrega"><input type="text" placeholder="Otro" [(ngModel)]="otro"></label>
</div>

<div id="cliente">
  <h5>{{ CONSTANTS[7] }}</h5>
  <input type="text" [(ngModel)]="resumen.cliente">
</div>

<button (click)="btnGenerarBoleta_click()">Generar boleta</button>
